<h1>Some Stats from BechdelTest.com</h1>

<br><br>

<p class="analytics-subheader">Number of movies with ratings: <%= @movies_passed %></p>

<hr>
<h1>How many tests did it pass?</h1>
<%= pie_chart ({"Passes 1 test" => @passed_1, "Passes 2 tests" => @passed_2, "Passes 3 tests" => @passed_3}) %>
<hr>
<h1>Which tests did it pass?</h1>
<%= pie_chart Bechdel.group(:tests_explanation).count %>
