<div class="page-header">
  <h1>Movies with ajax button</h1>
</div>

<div id="static-pagination">
  <%= will_paginate %>
</div>

<div id="my-posts">
  <div class="page-delimiter first-page" data-page="<%= params[:page] || 1 %>"></div>
  <%= render partial: @movies %>
</div>

<% if @movies.next_page %>
    <div id="with-button">
      <%= will_paginate %>
    </div>

    <div id="load_more_movies">More movies</div>
<% end %>
