@include font-face(rieslingregular, 'fonts/riesling-font/riesling-webfont', normal, $asset-pipeline: true);

body {
  margin: 2% 15%;
}

.movie-poster-image {
  width: 200px;
  float:right;
  padding-left: 20px;
  padding-bottom: 20px;
}

div.container {
  @include outer-container;
}

div.element {
  @include span-columns(6);
  margin-top:20px;
}

h1#header-title {
  font-family: 'rieslingregular';
  font-size: 4vw;
}
