@include font-face(rieslingregular, 'fonts/riesling-font/riesling-webfont', normal, $asset-pipeline: true);
@include font-face(seasideresortnfregular, 'fonts/seaside-font/seaside-webfont', normal, $asset-pipeline: true);
@include font-face(uppereastsideregular, 'fonts/uppereastside-font/uppereastside-webfont', normal, $asset-pipeline: true);


body {
  margin: 2% 15%;
}

.movie-poster-image {
  width: 200px;
  float:right;
  padding-left: 20px;
  padding-bottom: 20px;
}

div.container {
  @include outer-container;
}

div.element {
  @include span-columns(6);
  margin-top:20px;
}

.header-title {
  font-family: 'seasideresortnfregular';
  font-size: 4vw;
}
.sub-header {
  font-family: 'uppereastsideregular';
}
h1, h2, h3, h4, h5 { font-family: 'uppereastsideregular'; }
h1 {font-size: 3.5vw;}

.errors-div {
  padding: 10px;
  margin: 20px 0px;
  background-color:#F7F2F0;
  color: red;
  font-weight:800;
  border-radius: 10px;
}
