@include font-face(rieslingregular, 'fonts/riesling-font/riesling-webfont', normal, $asset-pipeline: true);
@include font-face(seasideresortnfregular, 'fonts/seaside-font/seaside-webfont', normal, $asset-pipeline: true);
@include font-face(uppereastsideregular, 'fonts/uppereastside-font/uppereastside-webfont', normal, $asset-pipeline: true);


body {
  margin: 2% 15%;
}
.headers-refills-font {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.movie-poster-image {
  width: 200px;
  float:right;
  padding-left: 20px;
  padding-bottom: 20px;
}

.search-bar {
  background-color: none;
  color: black;
  position: relative;
}

div.container {
  @include outer-container;
}

div.element {
  @include span-columns(6);
  margin-top:20px;
}

.header-title {
  font-family: 'seasideresortnfregular';
  font-size: 4vw;
  color: black;
}
.sub-header {
  font-family: 'uppereastsideregular';
}
h1, h2, h3, h4, h5 { font-family: 'uppereastsideregular'; }
h1 {font-size: 3.5vw;}

.errors-div {
  padding: 10px;
  margin: 20px 0px;
  background-color:#F7F2F0;
  color: red;
  font-weight:800;
  border-radius: 10px;
}

.footer-styles {
  background-color: #333333;
  color: rgba(255, 255, 255, 0.7);
}

.analytics-header { font-size: 3vw; }
.analytics-subheader { font-size: 2vw; }

//nav bar -------------------------------------------------------
.nav-header {
  @include outer-container;

  logo {
  @include span-columns(8);
  }

  searchbar {
  @include span-columns(4);
  height: 100px;
  }
}
.submenu-adjustments {
  padding:0px;
}

